img{
    width: 100%;
}
h1{
    margin-top: 30px;
}
h2{
    margin-top: 30px;
    color: #f9ff82;
}
h6{
    color: #f9ff82;
}

.text{
    display: flex; 
    margin-top: 30px;
}

p{
    font-size: 20px;
}

.img-text{
    width: 300px; 
    margin-left: 10px;
}

